body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.light {
  background-color: lightgoldenrodyellow;
}

.dark {
  background-color: #161b22;
}

.list {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  line-height: 0;
  list-style: none;
}
.list-item{
  color:blueviolet;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 5px;
}

.list-btn {
  width: 120px;
  height: 40px;
  border: 1px solid purple;
  color: #fff;
  background-color: blueviolet;
  border-radius: 5px;
  display: block;
  text-align: center;
}
.list-btn:hover{
  cursor: pointer;
  background-color: rgb(59, 8, 59);
}
.list-btn:active {
  background-color: rgb(129, 43, 129);
}

.dark-list-item {
  color: #fff;
  background-color: blueviolet;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.dark-list-btn {
  width: 120px;
  height: 40px;
  border: 1px solid purple;
  color: blueviolet;
  background-color: #fff;
  border-radius: 5px;
  display: block;
  text-align: center;
}
.dark-list-btn:hover {
  cursor: pointer;
  background-color: purple;
  color: #fff;
}
